.App {
  text-align: center;
  background-image: url('https://t3.ftcdn.net/jpg/05/51/95/26/360_F_551952602_vp8d4v2nDYo8UExEpxFOtMMv8uOzPaq9.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100vh;
}
input{
  width: 40%;
  height: 30px;
}

.inform-cont{
  background-image: url('https://img.freepik.com/free-vector/blue-sky-with-shiny-clouds-background_1017-23279.jpg?w=360');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
}
